.header {
  @extend .layout-padding;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
  padding-top: 20px;
  left: 50%;
  transform:translate(-50%, 0);
  width: 100%;
}


.header__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    &_right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
        .link {
          font-size: 18px;
          font-family: $font-family_bold;
          color: #EC008C;
        }
        .sublink {
          color: #484E56;
          opacity: 0.5;
          font-size: 12px;
        }
      }
}

.hero__block {
  width: 100%;
  min-height: 720px;
  background-color: #F2F2F2;
  background-image: url('../img/main.png');
  background-repeat: no-repeat;
  background-position: 150% 0;
  -webkit-background-size: contain;
  background-size: contain;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  &:after {
    position: absolute;
    content: '';
    background-image: url('../img/portrait.png');
    background-repeat: no-repeat;
    bottom: 0;
    left: 50%;
    transform:translate(-45%, 0);
    width: 100%;
    max-width: 1180px;
    height: 100%;
    background-position: right 0;
  }
  &__inner {
    margin-top: 60px;
    padding-left: 60px;
    width: 100%;
    position: relative;
    &_main {
      margin-bottom: 70px;
      .btn {
        z-index: 4;
      }
      .h_upper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 16px;
          img {
            display: block;
            margin-right: 4px;
          }
          span {
            color: #6C7984;
            font-size: 16px;
          }
      }
      h1 {
        margin-top: 0;
        margin-bottom: 24px;
      }
      .subheader {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
        max-width: 540px;
        color: #6C7984;
      }
    }
    &_sub {
      .sub_p {
        color: #6C7984;
        font-size: 16px;
      }
    }
    .youtube_btn {
      width: fit-content;
      position: absolute;
      bottom: -16%;
      right: 2%;
      z-index: 4;
      transform: scale(1.0);
      transition: all 0.2s;
        img {
          display: block;
        }
        &:hover {
          transform: scale(1.1);
          transition: all 0.2s;
        }
    }
  }
}

.big_pink {
  color: #EC008C;
  font-size: 28px;
  font-family: $font-family_bold;
}