.layout-inner {
  width: 100%;
  max-width: 1240px;
  min-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.layout-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.mobile {
  display: none;
}

@media (min-width: 1600px) {
  .wide-screen .photo_box {
    height: 600px;
  }
}

@media (min-width: 1200px) {

  .layout-inner {
    max-width: 1240px;
    width: 100%;
    min-width: 1240px;
  }

  .layout-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

}


@media (max-width: 1199px) {

  .burger {
    display: block;
  }

  .mobile {
    display: block;
  }

  .hero__block {
    background-position: 15% bottom;
    background-size: cover;
    overflow: hidden;
    justify-content: flex-start;
    height: 95vh;
      &__inner {
        margin-top: 20%;
          &_sub {
            display: none;
          }
      }
      &:after {
        background-position: right bottom;
      }
  }

  .wide-screen {
    flex-direction: column;
    .page__inner.meet-block {
      position: static;
      transform: none;
      margin-bottom: 50px;
      .photo-block {
        width: 100%;
      }
    }
    .photo_box {
      width: 100%;
    }
  }

  .header__inner_left {
    display: none;
  }

  .services_tile {
    padding-bottom: 0;
    &__item {
      margin-bottom: 32px;
      width: calc( 50% - 16px);
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .services_tile__item .item_body {
    padding: 32px 24px;
  }

  .page__item.photo-block {
    padding-left: 40px;
    padding-top: 60px;
  }

  .wide-screen .page__inner.meet-block .photo-block h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .wide-screen .page__inner.meet-block .photo-block p {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .wide-screen .photo_box {
    height: 540px;
  }

  .map .map_box {
    min-height: 600px;
  }

  .map .page__inner .page__item {
    position: relative;
      .map_top {
        position: absolute;
        bottom: -50px;
        width: 90%;
        left: 50%;
        transform:translate(-50%, 0);
          &__inner {
            width: 100%;
            flex-direction: column;
          }
      }
      .map_bottom {
        position: absolute;
        top: -80px;
        left: 60px;
      }
  }

  .about {
    width: 100%;
  }

  .about_item {
    padding-left: 0;
  }

  .about_item .page__item {
    padding-bottom: 900px;
    background-position: center bottom;
  }

  .about_item .page__item .docs {
    right: auto;
    position: absolute;
    text-align: center;
    bottom: 6%;
    width: 90%;
    transform:translate(0, -50%);
  }

  .about_item:after {
    right: 0;
    bottom: -20%;
    width: 100%;
    height: 100%;
    background-size: 160% 80%;
  }

  .tags .tags__outter {
    padding-left: 0;
  }

  .tags .tags__outter .tags__box_item {
    margin-right: 14px;
    margin-bottom: 14px;
    padding: 8px 16px;
  }

  .faq {
    padding-bottom: 0;
  }

  .slick-next {
    right: -24px;
    bottom: -60px;
  }

  .slick-prev {
    bottom: -60px;
    left: auto;
    right: 80px;
  }

  .slider__inner .slide .slide_content {
    border-radius: 60px;
  }


  h2 {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 32px;
    padding-left: 0;
  }

  .hero__block {
    min-height: 980px;
  }

  .hero__block__inner {
    z-index: 5;
    &_main {
      margin-bottom: 0;
      h1 {
        margin-bottom: 10px;
      }
      .subheader {
        margin-bottom: 32px;
      }
      .btn {
        display: none;
      }
    }
    .youtube_btn {
      position: static;
    }
  }

  .btn_main {
    width: 100%;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform:translate(-50%, 0);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
      .btn {
        margin: 0 auto;
        width: 80%;
      }
  }

  .footer__inner {
    flex-direction: column;
      &_item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        &:nth-child(1) {
          width: 100%;
          order: 1;
        }
        &:nth-child(2) {
          order: 3;
        }
        &:nth-child(3) {
          order: 2;
        }
        &:nth-child(4) {
          order: 4;
          width: 100%;
          align-items: flex-start;
          justify-content: flex-start;
          margin-bottom: 0;
        }
      }
  }

  .layout-inner {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }

  .layout-padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-height: 1100px) and (min-width: 641px) and (max-width: 1199px) {
  .hero__block:after {
    bottom: -10%;
  }
}


@media (max-width: 640px) {



  /**
    * size on mobile
    */

  .address img {
    margin-right: 8px;
  }

  .footer__inner_item {
    .address {
      margin-bottom: 12px;
    }
    .btn {
      width: 100%;
    }
  }

  .footer__bottom p {
    font-size: 12px;
  }

  .services_tile__item {
    width: 100%;
    margin-bottom: 32px;
    margin-right: 0;
  }

  .services_tile__item:hover {
    background-color: #fff;
    background: none;
  }

  .services_tile__item:hover .item_body_descr {
    opacity: .5;
    color: #484e56;
  }

  .services_tile__item:hover .item_body .price {
    color: #ec008c;
  }

  .services_tile__item:hover .btn {
    background-color: #ec008c;
    color: #fff;
    width: 100%;
  }

  .services_tile__item:hover .top {
    color: $color-black;
  }

  .layout-inner {
    min-width: 320px;
    width: 100%;
    max-width: 640px;
  }

  .hero__block__inner {
    margin-top: 32%;
    padding-left: 20px;
  }

  .hero__block__inner .youtube_btn img {
    width: 80px;
    height: 80px;
  }

  .hero__block__inner_main .subheader {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .hero__block:after {
    max-width: 100%;
    height: 60%;
    left: auto;
    background-size: cover;
    transform: translate(0, 0);
    background-position: center bottom;
  }

  .hero__block {
    border-radius: 0;
    min-height: 880px;
  }

  .menu_mobile {
    width: 80%;
  }

  .header__inner {
    align-items: flex-start;
  }

  .btn_main .btn {
    width: 90%;
  }

  .services_tile__item .top {
    font-family: $font-family_medium;
    padding: 14px 20px;
  }


  .services_tile__item .item_body {
    padding: 0 24px 24px 24px;
  }

  .services_tile__item .item_body_descr {
    margin-bottom: 0;
    font-size: 14px;
  }

  .wide-screen .photo_box {
    height: 360px;
  }

  .btn_img {
    justify-content: center;
    width: 100%;
  }

  .page__item.photo-block {
    padding-top: 40px;
    padding-left: 20px;
  }

  .wide-screen .page__inner.meet-block .photo-block p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .map .page__inner .page__item .map_bottom {
    top: -60px;
    left: 0;
  }

  .map .page__inner .page__item .map_top__inner {
    -webkit-box-shadow: 4px 6px 20px 0px rgba(10,  75,  148, 0.1);
    -moz-box-shadow: 4px 6px 20px 0px rgba(10,  75,  148, 0.1);
    box-shadow: 4px 6px 20px 0px rgba(10,  75,  148, 0.1);
    padding: 12px 20px;
    border-radius: 40px;
    img {
      margin-right: 0;
      margin-bottom: 6px;
    }
    p {
      font-size: 14px;
      text-align: center;
    }
  }

  .map .page__inner .map_bottom img {
    display: block;
    height: 140px;
    width: 140px;
  }

  .map {
    margin-bottom: 20px;
  }

  .info_row {
    flex-direction: column;
    margin-bottom: 16px;
      .dates {
        width: 100%;
        margin-right: 0;
        margin-bottom: 6px;
        color: #FBC707;
      }
      .info {
        width: 100%;
      }
  }

  .education p {
    max-width: 100%;
    letter-spacing: -0.5px;
  }

  .about_item .page__item {
    -webkit-background-size: 90%;
    background-size: 90%;
    padding-bottom: 640px;
  }

  .about_item .page__item .docs {
    bottom: 5%;
  }

  .about_item:after {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 250%;
    background-position: center bottom;
  }

  .gray-rounded {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .tags .tags__outter h3 {
    color: #EC008C;
    font-size: 16px;
    margin-bottom: 12px;
  }

  .tags .tags__outter .tags__box_item {
    background-color: transparent;
    box-shadow: none;
    color: #484E56;
    padding-bottom: 0;
    margin-right: 0;
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-left: 20px;
    position: relative;
      &:after {
        position: absolute;
        left: 2px;
        top: 8px;
        content: '';
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: #484E56;
      }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .tags .tags__outter {
    margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
  }

  .slider__inner .slide {
    padding: 0 12px;
  }

  .slider__inner .slide .slide_content {
    border-radius: 20px;
  }

  .faq_block h2 {
    max-width: 80%;
  }

  .faq .accordion__btn .accordion__text {
    font-size: 14px;
    left: 20px;
  }

  .faq .accordion__btn {
    font-size: 14px;
    height: 50px;
  }

  .faq .accordion__btn:after {
    right: 23px;
    height: 1px;
  }

  .faq .accordion__btn:before {
    right: 30px;
    width: 1px;
  }

  .faq .accordion__item_open .accordion__content {
    padding: 10px 20px 20px 20px;
  }

  .faq .accordion__item_open .accordion__content p {
    font-size: 14px;
  }

  .gallery {
    padding-bottom: 40px;
  }

  .pink_block {
    margin-bottom: 20px;
  }

  .gallery_title {
    .page__item {
      padding-bottom: 0;
    }
  }

  .feed_slider__inner .fs_slide {
    border-radius: 20px;
    padding: 20px;
      .feed_text {
        font-size: 12px;
      }
      .author {
        display: flex;
        .avatar {
          height: 42px;
          width: 42px;
          img {
            width: 100%;
          }
        }
        .name {
          font-size: 12px;
        }
      }
  }

  .hero__block {
    margin-bottom: 20px;
  }

  .services_tile__item .item_body .price {
    font-size: 24px;
    line-height: 24px;
  }

  .slick-prev {
    right: 60px;
    bottom: -50px;
    left: auto;
  }

  .slick-next {
    bottom: -50px;
  }


  .feed_slider {
    width: 100%;
    padding-bottom: 48px;
  }

  h2, .wide-screen .page__inner.meet-block .photo-block h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
    padding-left: 0;
    margin-top: 0;
  }

  h1 {
    font-size: 28px;
    line-height: 32px;
    max-width: 100%;
  }

  .layout-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}